@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.home-background{
  background-image: url('../img/header.gif');
  background-repeat: no-repeat;
  background-color:#f5f9fb;
  background-position: top center;
}
.banner-background{
  background-image: url('../img/bg2.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 800px) {
  .home-background{
    background-position: 65% 0%;
  }
}
body{
  background-color:#f5f9fb;
  font-family: 'Roboto', sans-serif;
}