@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('../img/header.gif');
  background-repeat: no-repeat;
  background-color:#f5f9fb;
  background-position: top center;
}
@media screen and (max-width: 800px) {
  body{
    background-position: 65% 0%;
  }
}